DBHOST=
DBNAME=
DBUSER=
DBPASS=
DBPORT=

# SSLCommerz
SSLCZ_STORE_ID=
SSLCZ_STORE_PASS=
SSLCZ_IS_LIVE= 
# true for production, false for sandbox

PAYMENT_SUCCESS_URL=
PAYMENT_CANCEL_URL=
PAYMENT_IPN_URL=

# JWT Config
JWT_SECRET=
JWT_EXPIRES_IN=
PORT=

#CLOUDINARY
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

EMAIL_USER=
EMAIL_PASS=
